{{define "pages/index.html"}}
	{{template "public/base.html" .}}
{{end}}

{{define "content"}}
			<section class="py-5 text-center container">
				<div class="row py-lg-5">
					<div class="col-lg-6 col-md-8 mx-auto">
						<h1 class="fw-light">VHub漏洞靶场</h1>
						<p class="lead text-muted">VHub 是一个用Golang开发的漏洞靶场环境，用于漏洞测试，学习</p>
						<p>
							<a href="#" class="btn btn-primary my-2">Start Me</a>
							<a href="#" class="btn btn-secondary my-2">Fork Me</a>
						</p>
					</div>
				</div>
      </section>
			<div class="album py-5 bg-light">
				<div class="container">
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
						<!--XSS start-->
						<div class="col">
							<div class="card shadow-sm">
								<div class="card-body">
									<p class="card-text">XSS</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<button type="button" class="btn btn-sm btn-outline-secondary">开始挑战</button>
											<button type="button" class="btn btn-sm btn-outline-secondary">关注我的Github</button>
										</div>
										<small class="text-muted">XSS wiki</small>
									</div>
								</div>
							</div>
						</div>
						<!--XXE start-->
						<div class="col">
							<div class="card shadow-sm">
								<div class="card-body">
									<p class="card-text">XXE</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<button type="button" class="btn btn-sm btn-outline-secondary">开始挑战</button>
											<button type="button" class="btn btn-sm btn-outline-secondary">关注我的Github</button>
										</div>
										<small class="text-muted">XXE wiki</small>
									</div>
								</div>
							</div>
						</div>
						<!--SQL start-->
						<div class="col">
							<div class="card shadow-sm">
								<div class="card-body">
									<p class="card-text">SQL注入</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<button type="button" class="btn btn-sm btn-outline-secondary">开始挑战</button>
											<button type="button" class="btn btn-sm btn-outline-secondary">关注我的Github</button>
										</div>
										<small class="text-muted">SQL wiki</small>
									</div>
								</div>
							</div>
						</div>
						<!--SSRF start-->
						<div class="col">
							<div class="card shadow-sm">
								<div class="card-body">
									<p class="card-text">SSRF</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<button type="button" class="btn btn-sm btn-outline-secondary">开始挑战</button>
											<button type="button" class="btn btn-sm btn-outline-secondary">关注我的Github</button>
										</div>
										<small class="text-muted">SSRF wiki</small>
									</div>
								</div>
							</div>
						</div>
						<!--File include start-->
						<div class="col">
							<div class="card shadow-sm">
								<div class="card-body">
									<p class="card-text">文件包含</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<button type="button" class="btn btn-sm btn-outline-secondary">开始挑战</button>
											<button type="button" class="btn btn-sm btn-outline-secondary">关注我的Github</button>
										</div>
										<small class="text-muted">file include wiki</small>
									</div>
								</div>
							</div>
						</div>
						<!--CSRF start-->
						<div class="col">
							<div class="card shadow-sm">
								<div class="card-body">
									<p class="card-text">CSRF</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<button type="button" class="btn btn-sm btn-outline-secondary">开始挑战</button>
											<button type="button" class="btn btn-sm btn-outline-secondary">关注我的Github</button>
										</div>
										<small class="text-muted">CSRF wiki</small>
									</div>
								</div>
							</div>
						</div>
						<!---->
					<div>
				</div>
			</div>
{{end}}
