{{define "vulns/csrf.html"}}
{{template "layout/base.html" .}}{{end}}
{{define "content"}}
		<div class="row">
			<div class="col-lg-4">
				<h2>Heading</h2>
				<p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
				<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
			</div>
			<!--xss 0-->
			<div class="col-lg-4">
				<h2>Heading</h2>
				<p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
				<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
			</div>
			<!--xss 1-->
			<div class="col-lg-4">
				<h2>Heading</h2>
				<p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
				<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
			</div>
			<!--xss 2-->
			<div class="col-lg-4">
				<h2>Heading</h2>
				<p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
				<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
			</div>
			<!--xss 3-->
			<div class="col-lg-4">
				<h2>Heading</h2>
				<p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
				<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
			</div>
			<!--xss 4-->
			<div class="col-lg-4">
				<h2>Heading</h2>
				<p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
				<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
			</div>
		<div>
{{end}}
